body{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #222;
}
header{
  background:url(../img/first-bg.jpg) no-repeat center top/ cover;
  padding-bottom: 160px;

}
.clearfix{
  content: '';
  display: table;
  width: 100%;
  clear: both;
}


.container{
  width: 930px;
  margin: 0 auto;
}
.logo{
  margin-top: 41px;
  float: left;
}
nav{
  float: right;
  margin-top: 45px;
}
.menu{
  padding: 0px;
  margin: 0px;
  display: block;
}
.menu li{
  float: left;
  margin-right: 41px;
  list-style-type: none;
}
.menu li a{
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
.title_first{
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 180px;
}
h1{
  font-size: 75px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 15px;

}
.button{
  background: #fed136;
  color: #484543;\
  border-radius: 3px;
  display: block;
  width: 240px;
  padding: 20px 0;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;
}
.title{
  padding-top: 120px;
}
.title h2{
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.title p{
  color: #777777;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;

}
.Services{
  margin: 0 auto;
  text-align: center;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 120px;
}
.services_item{
  float: left;
  width: 270px;
  text-align: center;
}
.clearfix{

}
.services_item h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.services_item p{
  font-size: 14px;
  color: #777;
  line-height: 1.55em;
}
.services_item:last-child{
  float: right;
}
.services_item:nth-child(2){
  margin-left: 60px;
}

#Portfolio{
  background-color: #f7f7f7;
  padding-bottom: 120px;
}
.works img{
  float: left;
}
.works img:last-child{
  float: right;
}
.works img:nth-child(2){
  margin-left: 30px;
}
.works{
  margin-top: 80px;
}
.about{
  margin: 0;
  display: block;
  margin-top: 80px;

}
.textss{
  width: 280px;
  margin: 0;
  float: left;
  text-align: right;
  margin-right:41px;
  margin-left: 60px;


}
.textss h3{
  font-size: 18px;
  font-weight: bold;

}
.Julu{
  display:flex;
  margin-top: 75px;
}
.about {
  text-align: right;
  margin-top: -10px;
  margin-right: 38px;
}
.about h3{
  font-weight: bold;
}
.january{
  display: flex;
  margin-top: 92px;
  margin-left: 374px;
}
.about2{
  margin-left: 42px;
}
b{
  text-transform: uppercase;
}
.konez{
  text-align: center;
  margin-top: 118px;
}
.konez p{
  color: #dadada;
  font-size: 14px;
}
